*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

header,
footer {
  flex-grow: 0;
  overflow: hidden;
  background-color: var(--theme-color, #000);
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  padding: 6px 24px;
  font-size: 12px;
  font-weight: 300;
}

footer a {
  font-weight: 500;
}

h1 {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 32px;
  height: 48px;
  font-size: 24px;
  font-family: "JetBrains Mono", Menlo, monospace;
}

h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
}

highlightable-input {
  width: 100% !important;
  max-width: 50vw;
  transition-property: all !important;
}

#app {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-auto-rows: auto;
  gap: 24px;
  padding: 24px 64px 24px 200px;
}

.row {
  grid-column: span 2;
}

#theme {
  position: absolute;
  left: 32px;
  top: 72px;
}

select {
  border: none;
  outline: none;
}

select,
option {
  font: inherit;
  font-size: 14px;
}

option {
  padding: 3px 12px;
  border-radius: 2px;
}

option::before {
  content: none;
}

option:checked,
option:checked:focus {
  background-color: var(--theme-color);
  color: #fff;
}

#styler {
  width: 60%;
  min-width: 240px;
  font-size: 12px;
  font-family: "JetBrains Mono", Menlo, monospace;
  height: auto;
  resize: vertical;
}

.settings {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
  font-size: 14px;
}

.settings label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.settings input {
  margin: 0;
}

@media (max-width: 960px) {
  #app {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  #app {
    padding-left: 64px;
  }

  header h1 {
    justify-content: center;
  }

  footer {
    text-align: center;
  }

  highlightable-input {
    max-width: none;
  }

  #theme {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }

  #theme select {
    margin: 12px 0;
    height: 32px;
  }
}
