highlightable-input[data-theme="carbon"] {
  background-color: var(--cds-field, #f4f4f4);
  border: none;
  border-bottom: 1px solid var(--cds-border-strong, #8d8d8d);
  color: var(--cds-text-primary, #161616);
  font-size: var(--cds-body-compact-01-font-size, 0.875rem);
  font-weight: var(--cds-body-compact-01-font-weight, 400);
  height: 2.5rem;
  letter-spacing: var(--cds-body-compact-01-letter-spacing, 0.16px);
  line-height: var(--cds-body-compact-01-line-height, 1.28572);
  outline: 2px solid #0000;
  outline-offset: -2px;
  padding: calc(
      (2.5rem - var(--cds-body-compact-01-line-height, 1.28572) * 1em - 1px) / 2
    )
    1rem;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  width: 100%;
}

highlightable-input[data-theme="carbon"][aria-multiline="true"] {
  height: auto;
  min-width: 10rem;
  min-height: 2.5rem;
  padding: 0.6875rem 1rem;
  line-height: var(--cds-body-01-line-height, 1.42857);
  resize: vertical;
}

highlightable-input[data-theme="carbon"][aria-placeholder]::before {
  color: transparent;
}

highlightable-input[data-theme="carbon"][aria-placeholder]:empty::before {
  color: var(--cds-text-placeholder, #16161666);
  opacity: 1;
}

highlightable-input[data-theme="carbon"]:focus,
highlightable-input[data-theme="carbon"]:active {
  outline: 2px solid var(--cds-focus, #0f62fe);
  outline-offset: -2px;
}

highlightable-input[data-theme="carbon"][aria-readonly="true"] {
  background: transparent;
}

highlightable-input[data-theme="carbon"][aria-disabled="true"] {
  -webkit-text-fill-color: currentColor;
  background-color: var(--cds-field, #f4f4f4);
  border-bottom: 1px solid #0000;
  color: var(--cds-text-disabled, #16161640);
  cursor: not-allowed;
  outline: 2px solid #0000;
  outline-offset: -2px;
}
